@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}

html,
body {
  color: white;
  background-color: #000000;
  height: 100%;
}

/* Language Dropdown */
.language-dropdown {
  display: inline-block;
  margin: 10px;
}

.language-dropdown .dropdown-toggle {
  min-width: 150px;
  text-align: left;
  border: none;
  color: white;
}

.language-dropdown ul li button:hover {
  background-color: #305689;
}

/* Login Page */
.login-page {
  background-image: url(/images/login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .login-page {
    background-image: none;
    background-color: black;
  }

  .login-form .form-fields {
    padding: 10px 30px;
  }

  .header-top .balance-card {
    margin: 10px 0px !important;
  }

  .seprator {
    display: none;
  }

  .header-bottom li {
    padding: 0px !important;
    border: none !important;
  }

  .header-bottom .nav-item {
    margin: 10px 0px;
  }

  .prop-acc {
    width: 100%;
  }

  .navbar-toggler {
    background: transparent;
    padding: 0px 0px;
    height: 35px;
    width: 50px;
    border: none;
    margin-top: -40px;
  }

  .navbar-toggler:focus {
    border: none;
    box-shadow: none;
  }

  header .header-top {
    padding-bottom: 0px !important;
  }

  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: end;
  }

  .dash-top .card {
    margin: 5px !important;
  }
}

.login-form {
  font-family: "Poppins";
  border-radius: 32px;
  border: 1px solid #305689;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: 0px 9.124px 14.337px -5.214px rgba(105, 187, 238, 0.5) inset,
    0px -106.879px 88.631px -83.418px rgba(26, 39, 59, 0.2) inset,
    0px 127.733px 130.34px -62.563px rgba(63, 125, 159, 0.3) inset,
    0px 5.214px 23.461px 0px rgba(154, 146, 210, 0.3) inset;
  backdrop-filter: blur(60px);
}

.form-fields {
  padding: 15px 50px;
}

.form-fields form {
  font-size: 14px;
}

.form-fields input,
.form-fields input:focus {
  background-color: #1f3048;
  color: #bcbec0;
  border: 1px solid #224667;
  padding: 10px;
  font-size: 12px;
}

#eye-pswd {
  background-color: #1f3048;
  color: white;
  border: 1px solid #224667;
  padding: 10px;
  border-left: none;
}

.sign-in-btn a {
  background-color: #3395ff;
}

.form-fields hr {
  width: 65px;
  margin: 10px;
}

.common-btn a {
  color: white;
  text-decoration: none;
}

.common-btn span {
  padding-left: 10px;
}

.common-btn a:focus,
.common-btn a:hover {
  background-color: #3395ff;
}

.input-group-text {
  cursor: pointer;
  background: #1f3048;
  border: none;
}

.radio-btn {
  padding: 10px;
  margin: 0px 3px;
  font-size: 12px;
  color: white;
  width: 85px;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background: #3395ff;
  border-color: var(--bs-btn-active-border-color);
}

/* Layout Styling */
.layout-styling {
  background-image: linear-gradient(#050e1d, #060a0e);
  height: 100vh;
  padding: 10px;
}

/* Header */
header {
  font-family: "Poppins";
  background-color: #1b2028;
  border-radius: 12px;
}
header .header-top {
  padding: 15px;
}

header hr {
  background-image: linear-gradient(#1b2028 100%, #3395ff 100%, #1b2028 100%);
}

header .header-top .balance-card {
  display: flex;
  background-image: linear-gradient(#1b2028 0%, #3a3a3a 100%);
  border-radius: 8px;
  border: 1px solid #305689;
  margin: 0px 10px;
  padding: 10px 0px;
}

.prop-acc {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Poppins"; */
  font-size: 12px;
  color: white;
}

.balance-card span {
  font-size: 12px;
  color: #a0aec0;
}

.balance-card h4 {
  font-size: 16px;
  color: #01b574;
}

.balance-card .card {
  background: none;
  border: none;
}

.balance-card .card .card-body {
  padding: 0px 16px;
}

.seprator {
  border: 1px solid #3395ff;
  margin: 0px 20px;
}

.header-bottom ul {
  list-style: none;
  padding: 10px;
  margin: 0px;
}

.header-bottom li {
  padding: 2px 10px;
  border-right: 1px solid grey;
}

.header-bottom li svg {
  padding: 2px 5px;
  background: #000000;
  border-radius: 4px;
}

.header-bottom li span {
  padding: 0px 10px;
}

.active-list {
  padding: 5px 10px !important;
  border-bottom: 2px solid #3395ff;
  margin: 7px;
}
.active-icon {
  background-image: linear-gradient(#121212 0%, #3395ff 100%) !important;
}

.header-bottom .navbar-nav li a {
  text-decoration: none !important;
  color: #a0aec0 !important;
}

.support-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Dashboard */
.dash-top {
  background: #1b2028;
  margin: 15px 0px;
  border-radius: 12px;
  font-size: 12px;
  padding: 15px 25px;
}

.dash-top h3 {
  font-size: 14px;
}

.dash-top .card {
  margin: 10px;
  background: none;
  color: white;
  border: 1px solid #305689;
  width: 150px;
}

.dash-top .card .card-body {
  padding: 5px 10px !important;
}

/* Dashboard Challenge Details */
.challenges-detail {
  background-color: #1b2028;
  border-radius: 12px;
  padding: 10px 20px;
}

/* Active Challenge Styling */
.challenges-detail .challenge {
  border-radius: 12px;
  border: 0.75px solid #305689;
  background: linear-gradient(
    147deg,
    rgba(18, 18, 18, 0.1) 56.24%,
    #3395ff 138.33%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.challenge-top {
  padding: 15px 20px;
}

.metric {
  border-top: 1px solid #4ea6cb;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.challenge {
  margin: 10px;
}

.challenge button {
  background: #3395ff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  padding: 5px 10px;
}

.challenge button a {
  text-decoration: none;
  color: white;
}

.button-enabled {
  background-image: linear-gradient(#121212 0%, #3395ff 100%) !important;
}

.challenges-detail .challenge .step {
  font-size: 16px;
  color: #a0aec0;
  margin: 0px;
}

.challenges-detail .challenge .challenge-name {
  font-size: 20px;
  color: #3395ff;
  margin: 0px;
}

.pagination-controls button {
  background: none;
  color: white;
  border: 1px solid #3395ff;
  border-radius: 5px;
}

.pagination-controls span {
  margin: 2px 10px;
}

.challenges-detail .status .nav-link {
  color: #a0aec0;
  padding: 0px;
  margin: 5px 5px;
}

.challenges-detail .status .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #3395ff;
  background: none !important;
  border-bottom: 1px solid #3395ff;
}

.status ul {
  list-style: none;
}

/* Inactive Tab */
.inactive-tab {
  border: 1px solid #32405e;
  border-radius: 10px;
  padding: 10px 15px;
}

.daily-loss-limit {
  background: #1b2028;
  border-radius: 12px;
  padding: 10px 20px;
}

.daily-loss-limit .timestamp {
  border: 1px solid #305689;
  background-image: linear-gradient(#1b2028 0%, #3a3a3a 100%);
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0px 20px;
}
.col-card {
  margin: 20px 0px;
  padding: 10px 20px;
  border: 1px solid #305689;
  border-radius: 12px;
  background: linear-gradient(
    170deg,
    rgba(18, 18, 18, 0.1) 56.24%,
    #3395ff 200.33%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.col-card .card-heading {
  font-size: 16px;
  padding: 10px;
  color: white;
}

.col-card span {
  font-size: 16px;
  color: #a0aec0;
  padding: 10px;
}

.col-card hr {
  padding: 2px;
  height: 6px;
  border: 0.4px solid #a0aec0;
  border-radius: 24px;
  background: #d9d9d9;
}
.col-card .content {
  padding: 10px;
  color: #a0aec0;
  font-size: 16px;
}
.stats {
  border: 1px solid #a0aec0;
  background-image: linear-gradient(#050e1d 0%, #060a0e 100%);
  border-radius: 12px;
  padding: 20px 15px;
}

/* Challenge Card */
.challenge-card {
  border: 1px solid #224667;
  background: linear-gradient(
    170deg,
    rgba(18, 18, 18, 0.1) 56.24%,
    #3395ff 200.33%
  );
  padding: 10px 15px;
  border-radius: 12px;
  height: 100%;
}

.challenge-card .challenge-heading {
  font-size: 16px;
}

.challenge-card .challenge-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f3048;
  border: 1px solid #32405e;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px;
  font-size: 12px;
}

.challenge-card .challenge-head {
  font-size: 14px;
}

.challenge-card .challenge-detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #305689;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 0px;
}
/* .challenge-card input ~ .checkmark {
  background-color: black !important;
} */

.challenge-body {
  padding: 0px 10px;
  margin: 0px 10px;
}

/* Chat Box Style */
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: linear-gradient(rgb(18, 18, 18) 0%, rgb(51, 149, 255) 100%);
  color: white;
  font-size: 24px;
  padding: 5px 12px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1050;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-image 0.3s ease;
}

.chatbox-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1051;
  display: flex;
  flex-direction: column;
}

.chatbox-header {
  font-weight: bold;
}

.chatbox-body {
  flex-grow: 1;
  overflow-y: auto;
  background: #f8f9fa;
}

.chatbox-footer input {
  flex: 1;
}

.buy-btn {
  background-color: #3395ff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px 0px;
  border: none;
  color: white;
}

.buy-btn a {
  text-decoration: none;
  color: white;
}

.objectives-panel {
  background: none;
}

.objectives-panel .card-header {
  border-bottom: 1px solid #305689;
}

.objectives-panel .list-group .list-group-item {
  background: none;
  border-bottom: 1px solid #305689;
  font-size: 14px;
  color: #ffffff;
}

.milestone-content {
  background-color: none;
  text-align: center;
  border: 1px solid #305689;
  margin-top: 5px;
  padding: 3px;
  border-radius: 2px;
  font-size: 12px;
  width: fit-content;
}

/* Buy Challenge Modal */
.modal-content {
  color: white;
  background-image: linear-gradient(30deg, #121212 55%, #3395ff 170%);
  border: 1px solid #3395ff;
  border-radius: 32px;
  outline: 0;
}

.modal-content .modal-body input {
  background-color: #1f2e44;
  border: 1px solid #224667;
}

.history-page {
  margin: 10px 0px;
  border: 1px solid #305689;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  background-image: linear-gradient(175deg, #121212 55%, #3395ff 170%);
}

/* Wallet Page Styling */
.wallet-page {
  margin: 15px 0px;
  background-color: #1b2028;
  border-radius: 12px;
  padding: 10px 20px;
}

.add-wallet {
  background-color: #3395ff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  color: white;
}

.wallet-page .table-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #252c37;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 14px;
}

/* Withdrawal Page Styling */
.withdrawal-page{
  margin: 10px 0px;
  border-radius: 12px;
  background-color: #1B2028;
  padding: 10px;
}

.withdrawal-body .nav-link{
  background: none !important;
  border: none !important;
  padding: 0px;
  color: #A0AEC0;
  font-size: 12px;
  font-weight: 100;
}
.withdrawal-body li{
  margin: 10px 0px;
}
.withdrawal-body .nav-link.active{
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid #3395FF !important;
}

.withdrawal-req {
  font-size: 12px;
}

.withdrawal-req li{
  margin: 0px;
}

.withdrawal-req .payment-method{
  background: #1B2028;
  border: 1px solid #305689;
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
}

.withdrawal-req .payment-method .withdrawal-heading{
  color: #3395FF;
  font-size: 15px;
  margin-left: 5px;
}

.method-active{
  background-image: linear-gradient(#121212 0%,#3395FF 100%);
}